.OverFlow{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 3;
    overflow: hidden;
    transition: .5;
}
.SideBlock, .SideBlockOrder {
    width: 385px;
    min-height: 100vh;
    background-color: #fff;
    position: fixed;
    z-index: 5;
    overflow: hidden;
    top: 0;
    right: 0;
    transition: .5;
}
.SideBlockOrder {
    z-index: 4;
}
.SideBlock h2{
    margin: 30px;
    font-weight: bolder;
}