main {
    max-width: 1080px;
    margin: 0 auto 0 auto;
    background-color: white;
    border-bottom: 1px solid #EAEAEA;
    padding: 45px 45px;
}
.allCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}